VUCAR_V2_DATABASE_URL=
VUCAR_V2_DB_HOST=
VUCAR_V2_DB_PORT=
VUCAR_V2_DB_NAME=
VUCAR_V2_DB_USER=
VUCAR_V2_DB_PASSWORD=
VUCAR_V2_DB_SSL_DISABLED=

E2E_DATABASE_URL=
E2E_DB_HOST=
E2E_DB_PORT=
E2E_DB_NAME=
E2E_DB_USER=
E2E_DB_PASSWORD=
E2E_DB_SSL_DISABLED=

ZALO_READ_REPLICA_DATABASE_URL=
ZALO_DATABASE_URL=
ZALO_CONNECTION_STRING=
ZALO_READ_REPLICA_SSL_DISABLED=
ZALO_DB_HOST=
ZALO_DB_PORT=
ZALO_DB_NAME=
ZALO_DB_USER=
ZALO_DB_PASSWORD=
ZALO_DB_SSL_DISABLED=

DEALER_SERVICE_URL=
DEALER_SERVICE_BASE_URL=
DEALER_SERVICE_API_KEY=
VUCAR_API_SECRET=
